* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "jost", sans-serif;


}
body,html{
    overflow-x: hidden;
    width: 100%;
}



.container{
    background-color:#fff;
    width: 100%;
}

.main-head {
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-inline: auto;
    background-color: #fff;
    height: 90px;

}

#nav-part1 {
    display: flex;

    font-size: 20px;

}

#nav-part1 h5 {
    font-weight: 500;
    padding: 0px 20px;
}


#nav-part2 {
    display: flex;
    align-items: center;
}

#nav-part2 h5 {

    font-size: 25px;
    font-weight: 100;
    padding: 0px 10px;
    position: relative;
    left: 40px;

}
.main-head .menu i{
    display: none;
    font-size: 2rem;
}

.main-head  img{
    width: 30%;
    padding: 0px 100px;
}
.top .top-video source{
    width:100% ;
    height: 80%;
}
.top .top-video {
    width: 100%;
     background-position: center;
    background-size: cover;
     
   
}


.images-sec {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
}

.images-sec img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: px;
}

.item h2 {
    position: relative;
    left:50px
}
.heading h1 {
    text-align: center;
    font-weight: 500;
    margin-top: 50px;

}


.card-sec {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.dress{
    width: 237px;
    height: 362px;
    background-color: #fff;
    margin: 15px;
}
.dress img{
    height: 260px;
    width: 100%;
}
.dress p{
    opacity: 80%;
    font-size: 15px;
    color: #27262C;
}
.dress h3{
    font-weight: 500;
    padding: 5px 0px;
color: #4C4B51;
    font-size: 15px;
}
.categaries h1{
    text-align: center;
    padding: 20px 0px;
    font-weight: 500;
}
.card-sec2{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.card2-h1 h1{
    text-align: center;
    font-weight: 500;
    margin-top: 30px;

}
.card-sec3{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.card3-h1 h1{
    text-align: center;
    font-weight: 500;
    margin-top: 30px;

}
.card-sec4{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.card4-h1 h1{
    text-align: center;
    font-weight: 500;
    margin-top: 30px;

}
.footer-h1 h1{
    text-align: center;
    padding: 40px 0px 60px 0px;
    font-weight: 550;
    opacity: 95%;
    border-bottom: 0.5px solid #a3a3a3;
}
.footer{
    width: 100%;
    margin-inline: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
     border-bottom: 0.5px solid #a3a3a3;
}
.left h5{
    padding-left: 15px;
    padding-bottom: 15px;
    font-weight: 550;
}
.left p{
    width: 40%;
    padding: 10px 0px 0px 15px;
    color: #27262C;
    font-size: 14px;
    line-height: 25px;
}
.li{
    margin-top: 10px;
    margin-left: 10px;
}
.li ul{
    list-style: none;
     color: #27262C;
     font-size: 14px;
     padding: 5px;
}
#ul{
    display: flex;
    margin-left: 10px;
    list-style: none;
    margin-top: 10px;
}
#ul li{
color: #27262C;
font-size: 14px;
padding: 5px;
}
.center{
    margin-left: 10px;

}
.center h5{
    font-size: 15px;
}
.center ul{
    margin-top: 10px;
    list-style: none;
}
.center ul li{
    color: #27262C;
    padding: 10px 0px;
    font-size: 14px;
}
.right p{
        color: #27262C;
        font-size: 14px;
        padding-top: 25px;
        opacity: 95%;
}
.e-b{
    padding-bottom: 10px;
    border-bottom:0.5px solid #a3a3a3 ;
    margin-top: 40px;
}
.e-b input{
  border: none;
  font-size: 14px;
}
.e-b button{
  border: none;
  background-color: transparent;
  padding-left: 80px;
  font-size: 15px;

}
#lst-p{
    color: #0c0c0c;
    font-size: 14px;
    padding-top: 10px;
}

.copyright{
    padding: 20px;
    text-align: center;
}
